body{
	height: 99%;
	width: 80%;
	margin-right:auto;
	margin-left:auto;
	font-family: Arial;
	background-color: gray;
	background:gray url(../images/body_grad.png) repeat-x center top;
}

#titulo{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 0px 20px #000;
	color: #ddd;
	padding-bottom: 10px;
}

.bubble{
	width:80%;
	/*border-radius:25px;
	box-shadow: 0px 0px 20px #000;*/
	padding: 10px;
	background: #ddd;
	color: black;
	/*margin-left: auto;
	margin-right: auto;*/
	overflow: auto;
}

.side{
	width:16.65%;
	height: 540px;
	/*border-radius:25px;
	box-shadow: 0px 0px 20px #000;*/
	padding: 10px;
	background: #ddd;
	margin-top: -565px;
	border-top:3px solid rgba(0,0,0,1);
	border-right: 3px solid rgba(0,0,0,1);
	color: black;
	overflow: auto;
}

#twitter{
	margin-left: 82.3%;
}

#links{
	height: 20px;
	/*margin-bottom: 10px;*/
	border-top:3px solid rgba(0,0,0,1);
	border-left:3px solid rgba(0,0,0,1);
	border-right:3px solid rgba(0,0,0,1);
	text-align: center;
}

#twitT{
	position: absolute;
	margin-left:82.5%;
	margin-top: -40px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0px 0px 20px #000;
	color: #ddd;
	padding-bottom: 10px;
	text-decoration:none;
}

#conteudo{
	top: 3px;
	height: 500px;
	border-top:3px solid rgba(0,0,0,1);
	border-right: 3px solid rgba(0,0,0,1);
	border-left: 3px solid rgba(0,0,0,1);
}

#rodape{
	width: 99%;
	height: 13px;
	/*margin-top: 9px;*/
	border-top:3px solid rgba(0,0,0,1);
	border-right: 3px solid rgba(0,0,0,1);
	border-left: 3px solid rgba(0,0,0,1);
	border-bottom: 3px solid rgba(0,0,0,1);
	font-size: 10px;
	text-align: center;
}

.link{
	color: black;
	text-decoration:none;
}

.link:hover{
	font-weight: bold;
	text-decoration: underline;
}

.texto{
	/*position: absolute;*/
	top: 100px;
	margin-right: 20%;
}
